body {
  background-color: $light-gray;
  margin: 0;
  padding: 0;
  min-height: 100%;
  #container {
    nav, header, section, footer {
      @include span-columns(12);
    }
    nav {
      background-color: $blue;
      color: $light-gray;
      li {
        display: inline-block;
        a {
          display: block;
          padding: 0.75em 0.7em;
          color: $light-gray;
          &:hover {
            background-color: $medium-gray;
            color: $blue;
          }
        }
        select {
          display: inline;
          border: 0 !important;
          background: $blue;
          width: 100px;
          text-indent: 0.01px;
          text-overflow: "";
          color: #fff;
          border-radius: 15px;
          padding: 5px;
          box-shadow: 0 0 5px rgba(000,000,000, 0.5);
        }
        .nav_button {
          background-color: $dark-blue;
        }
      }
      li.right {
        float: right;
      }
    }
  }
  .form_box{
    @include span-columns(12);
    display: block;
    margin: 20px, auto;
    width: 100%;
    form {
      margin: 30px, auto;
      background-color: $base-background-color;
      box-shadow: 1px 1px 2px #888;
      width: 400px;
      padding: 30px;
      .boolean {
        display: inline;
        padding: 2px;
        margin: 10, auto;
      }
      .btn {
        box-shadow: 1px 1px 2px $blue;
      }
    }
  }
  footer {
    @include span-columns(12);
    left: 0px;
    bottom: 0px;
    height: 30px;
    background-color: $medium-gray;
    text-align: center;
    padding-bottom: 20px;
    position: static;
    opacity: 0.8;
    margin-top: 20px;
    &:hover {
      opacity: 1;
    }
    p, a {
      display: inline;
    }
    a::before {
      content: " | ";
      color: $dark-gray;
    }
  }
}
