.shops {
  .grid-sizer {
    @include media(max-width 1070px) {
      width: 50%;
    }
    width: 33.33333%;
    @include media(min-resolution 200dpi) {
      width: 100%;
    }
  }
  .shop {
    @include media(max-width 1070px) {
      width: 50%;
    }
    @include media(min-resolution 200dpi) {
      width: 100%;
      .shop_container {
        font-size: 2em;
      }
    }
    border: 2px solid $medium-gray;
    width: 33.333333%;
    background-size: cover;
    box-shadow: 1px 1px 2px $medium-gray;
    h2 {
      font-size: 2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .shop_spacer {
      width: 100%;
      height: 172px;
    }
    .shop_container {
      background-color: white;
      opacity: 0.6;
      padding: 0 20px;
      &:hover {
        opacity: 0.7;
      }
    }
    .icons p {
      display: inline;
      padding-right: 20px;
      width: 18px;
    }
  }
}
