.shops {
  @include span-columns(12);
  width: 100%;
  .shop {
    @include span-columns(4);
    margin: 10px;
    padding: 10px;
    width: 400px;
    background-color: $base-background-color;
    box-shadow: 1px 1px 2px #888888;
    h2 {
      font-size: 2em;
      max-height: 38px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    img {
      width: 380px;
      height: 172px;
      object-fit: cover;
    }
    .icons p {
      display: inline;
      padding-right: 20px;
    }
  }
}
