.users {
  .grid-sizer {
    @include media(max-width 1070px) {
      width: 50%;
    }
    width: 33.33333%;
  }
  .user {
    @include media(max-width 1070px) {
      width: 50%;
      .user_text {
        font-size: 1.4em;
      }
      h2 {
        font-size: 1.4em;
      }
    }
    background-size: cover;
    height: 400px;
    width: 33.33333%;
    border: 2px solid $medium-gray;
    .user_text {
      background-color: white;
      opacity: 0.6;
      padding: 0 20px;
      font-weight: 200;
      h2 {
        font-weight: 500;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
